.light-blue.lighten-1 {
    background-color: #f0652f !important;
}

.hight img {

    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 0;
}

.bgc_orange_l {
    background-color: 
        rgba(240, 101, 47, 0.48);
}

.font_white, a{
    color: #fff;
    
}
.page-footer i {
    color: #fff;
}



.section_bgc {
    
    height: 500px; 
    background-color:#ebebeb;

}

.cut2_img {
    width: 200px;
    height: 200px;
}

.slider {
    height: 600px!important;
  
}


.slider .indicators {
    bottom: 30px;
    z-index: 999;
}


.icon-block img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}



.section h2 {
    padding-left: 0em;
}

.margin_top {

    margin-top: 50px;
    clear: both;
}


.bgc_right {
/*    padding: 0!important;*/
    background-color: #ffeb00;
    margin-bottom: 0px;
/*
    height: 450px;
    clear: both;
*/
    
}
.bgc_left {
    background-color: #f0652f;
/*    clear: both;*/
/*    margin: 0 -10px;*/
}
.bgc_left_1 {
    background-color: #ff8e63;
/*    clear: both;*/
/*    margin: 0 -10px;*/
}

.test {
/*    border: 1px solid #ccc;*/
    background-color: #fcffb2;
    height: auto;
/*    background-color: antiquewhite;*/
    
}

footer.page-footer {
    margin-top: 0px;

}
.footer_sharelink img {
    height: inherit;
    width: inherit;
}

