html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    height: auto;
    min-height: 50px;
    resize: vertical
}

select {
    width: 100%
}

input,
button,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    line-height: inherit
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    line-height: 1
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    color: inherit
}

p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility
}

em,
i {
    font-style: italic;
    line-height: inherit
}

strong,
b {
    font-weight: 700;
    line-height: inherit
}

small {
    font-size: 80%;
    line-height: inherit
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

q {
    quotes: "“" "”" "‘" "’"
}

q:before {
    content: open-quote
}

q:after {
    content: close-quote
}

@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
body {
    font-size: 16px
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-family: 'Noto Sans SC', sans-serif
}


/* ==========================================================================
   Troei custom styles
   ========================================================================== */

section {
    margin: 0 auto;
}

.menu {}

.menu aside {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: #fff;
}

.menu aside i {
    font-style: normal;
    display: block;
}

.menu aside strong {
    font-weight: 800;
    font-size: 1.2vh;
    line-height: 1.518em;
}


.menu a {
    color: rgba(255, 255, 255, 0);
}

.menu li {
    border: 1px solid #333;
    position: relative;
    overflow: hidden;
    height: 10vh;
}

.menu li>img {
    width: 100%;
}

.menu li:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.menu li:hover {
    -webkit-animation: zoomOut .3s ease-in forwards;
}

.menu li:hover:before {
    background: rgba(0, 0, 0, 0);
}

.menu li:hover h1 {
    color: #000;
}

    .background {
        height: 100vh;
        width: 100%;
        filter: blur(30px);
        -webkit-filter: blur(30px);
        opacity: .9;
    }

.page {
    background: #000;
/*    height: 100vh;*/
    overflow: hidden;
    color: #fff;
    font-size: 2vw;
}

.page_up, .page_down {
    width: 90vw;
    height: 45vh;
    padding: 5vw;
    position: absolute;
    z-index: 1;
}
.page_up ascid{position: absolute;top: 5vw;right: 5vw;font-size: 2vw;}
.page_up i{font-style: normal;font-size: 5.5vw;display: block;margin-bottom: 3px;}

.page_up dt:after{
    content: " : ";
}
.page_up dd{
    position: relative;
    top: -1em;
    left: 5em;
}
.page_up img{
    box-shadow: 10px 10px 100px rgba(0,0,0,.5);
    width: 30vw;display: block;margin: 0 auto;;
}
.page_down {
    /*    margin-bottom: 10vh;*/
    bottom: 0;
    text-align: center;
}
.page_down p{
    text-align: left;
    display: block;
    margin: 1.2em 0;
    padding: 1.2em 0;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}

.comment header, .comment div, .comment footer{position: absolute;z-index: 1;color: #fff; width: 90vw;}
.comment header{background: #333;width: 100%;padding: 0 5vw;}
.comment header h1{line-height: 5vh;font-size: 3vw;}
.comment div{line-height: 1.618;;padding: 7vh 5vw;font-size: 3vw;}

.view section {
    width: 400px;
    height: 400px;
    background: #F7CA18;
    margin: 0 auto;
    position: relative;
}

.view section:nth-child(2) a {
    position: absolute;
    bottom: 0;
    left: 31%;
    color: #fff;
    background: #1BBC9B;
    display: block;
    padding: 1em 3em;
    text-decoration: none;
}

.more section {
    height: 800px;
    background: #F7CA18;
    overflow: scroll;
    padding-top: 50px;
}

.more header,
.more footer {
    width: 400px;
    color: #fff;
    height: 40px;
    background: rgba(0, 0, 0, .8);
    position: fixed;
}

.more header {
    top: 0;
}

.more header a {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 20px;
}

.more a {
    color: #fff;
    text-decoration: none;
    background: #1BBC9B;
}

.more footer {
    bottom: 0;
}

.more footer a {
    display: block;
    padding: 1em 3em;
    width: 20px;
}

.more p {
    font-size: 18px;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner li {
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    overflow: auto;
}

.banner li {
    list-style: none;
}

.banner ul li {
    float: left;
}

@-webkit-keyframes zoomOut {
    0% {
        height: 10vh;
    }
    100% {
        height: 15vh;
    }
}


/*
<section class="menu">
    <h1></h1>

    <ul>
        <li data-doc="html_1"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/1"></li>
        <li data-doc="html_2"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/2"></li>
        <li data-doc="html_3"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/3"></li>
        <li data-doc="html_4"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/4"></li>
        <li data-doc="html_5"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/5"></li>
        <li data-doc="html_6"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/6"></li>
        <li data-doc="html_7"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/7"></li>
        <li data-doc="html_8"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/8"></li>
        <li data-doc="html_9"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/9"></li>
        <li data-doc="html_10"><h1>Title here</h1><img src="http://lorempixel.com/800/200/food/10"></li>
    </ul>

</section>
*/


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.l_grid>li {
    display: inline;
    float: left;
    zoom: 1
}
