.masthead{height: 100vh;}
header.masthead h1{margin-top: 25vh;
    font-size: 4rem;
}
.masthead h2{line-height: 2.5;font-weight: 400;}
/*.ct h1{font-size: 4.75em;}*/
.h1, h1 {
    font-size: 3.5rem;
}
/*.ct strong{font-size: 1.5rem;}*/
.ct h3{font-weight: 200;line-height: 1.5;}
.ct_l p{font-size: 1em;}
.card{border: none;}
.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

.complexity{border-radius: 50%;}

section p{
    font-size: 1.25rem;
    line-height: 1.6;
}
.comp h3{line-height: 3;}
.comp table{color: #fff;}
thead th{background: #fdd30f;}
tbody{background: #00c0c3;}
.break{background: #fff;color: #00c0c3;}
.register{margin-top: .8em;}
.floating-label-form-group input, .floating-label-form-group textarea,.contact dt, .contact dd{font-size: 1.2em;line-height: 1.5;}
.contact dl{margin-top: 30px;}
.contact dt{line-height: 2;}
.contact dd{color: #495057;font-size: 18px;border-bottom: 1px solid #eee;padding-bottom: 1em;}
.contact i{text-decoration: line-through}
.contact strong{color: #f00;}
.age label{font-size: 1.2em;color: #495057;width: 100%;text-align: left}