body{font-family: 'Noto Sans TC', sans-serif;}
.bg-secondary {
    background-color: rgba(44,62,80,.6)!important;
}
#content h1 {
    color: rgba(255,255,255,.9);
    bottom: 30vh;
    position: absolute;
    z-index: 1;
    right: 50%;
    margin-right: -40%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
/*    font-family: 'Gochi Hand', cursive;*/
    font-family: 'Reenie Beanie', cursive;
    font-weight: 400;
/*    letter-spacing: 1px;*/
}
/*#content h1 b{font-weight: 400;color: #f00;}*/
.video{height: 100vh;overflow: hidden;}
.loading{background: url(../img/video.jpg) 100% 100%; }
.mask {
    background: #999 url(../img/dot.png) repeat;
        width: 100vw;
        height: 100vh;
    opacity: .2;
    position: absolute;
}
video:before{background-color: red;content: " ";display: block;width: 100%;height: 100%;}

.masthead {
    height: 100vh;
}

header.masthead h1 {
    margin-top: 25vh;
    font-size: 4rem;
}

.masthead h2 {
    line-height: 2.5;
    font-weight: 400;
}

/*.ct h1{font-size: 4.75em;}*/
.h1,
h1 {
    font-size: 4rem;
}

/*.ct strong{font-size: 1.5rem;}*/
.ct h3 {
    font-weight: 200;
    line-height: 1.5;
}

.ct_l p {
    font-size: 1em;
}

.card {
    border: none;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

.complexity {
    border-radius: 50%;
}

section p {
    font-size: 1.25rem;
    line-height: 1.6;
}

.comp h3 {
    line-height: 3;
}

.comp table {
    color: #fff;
}

thead th {
    background: #fdd30f;
}

tbody {
    background: #00c0c3;
}

.break {
    background: #fff;
    color: #00c0c3;
}

.register {
    margin-top: .8em;
}

.floating-label-form-group input,
.floating-label-form-group textarea,
.contact dt,
.contact dd {
    font-size: 1.2em;
    line-height: 1.5;
}

.contact dl {
    margin-top: 30px;
}

.contact dt {
    line-height: 2;
}

.contact dd {
    color: #495057;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
}

.contact i {
    text-decoration: line-through
}

.contact strong {
    color: #f00;
}

.age label {
    font-size: 1.2em;
    color: #495057;
    width: 100%;
    text-align: left
}
.camp h1{font-size: 1.5rem;margin-top: 1em;font-weight: 500;}
.camp_video{margin-top: 80px;}

.about .card-header{background: #fff;}
.about .how .container{margin-top: 80px;}
.about h2 button{color: #333;}
.about h2 button,.about .card-body{font-size: 18px;}
.about .card-body{color: #18bc9c;padding-left: 2rem;}
